[package]
name = "tari_swarm"
version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
libp2p = { workspace = true, features = ["tokio", "noise", "macros", "ping", "tcp", "identify", "yamux", "relay", "quic", "kad", "dcutr", "gossipsub", "mdns", "autonat"] }
#libp2p-messaging = { path = "../../../../code/libp2p-messaging", features = ["prost"] }
libp2p-messaging = { workspace = true, features = ["prost"] }
libp2p-substream = { workspace = true }

async-trait = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["default", "sync"] }
