[workspace]

members = [
    "applications/tari_dan_wallet_cli",
    "applications/tari_dan_wallet_daemon",
    "applications/tari_validator_node",
    "applications/tari_validator_node_cli",
    "clients/validator_node_client",
    "clients/wallet_daemon_client",
    "dan_layer/core",
    "dan_layer/integration_tests",
    "dan_layer/storage",
    "dan_layer/storage_lmdb",
    "dan_layer/storage_sqlite",
    "dan_layer/tari_bor",
    "dan_layer/template_abi",
    "dan_layer/template_builtin",
    "dan_layer/template_lib",
    "dan_layer/transaction",
    "dan_layer/template_macros",
    "dan_layer/template_test_tooling",
    "dan_layer/transaction_manifest",
    "dan_layer/wallet/sdk",
    "dan_layer/wallet/storage_sqlite",
]
#
resolver = "2"

# Shutdown when panicking so we can see the error, specifically for the wallet
[profile.release]
panic = 'abort'
# By default, Rust will wrap an integer in release mode instead of throwing the overflow error
# seen in debug mode. Panicking at this time is better than silently using the wrong value.
overflow-checks = true

[patch.crates-io]
# Temporarily lock pgp to commit (master branch at time of writing) because the currently release crate locks zeroize to =1.3
liblmdb-sys = { git = "https://github.com/tari-project/lmdb-rs", tag = "0.7.6-tari.1" }

# Uncomment and replace myfork and mybranch with the name of your fork and the branch you want to temporarily use
[patch."https://github.com/tari-project/tari.git"]
tari_app_grpc = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_app_utilities = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_base_node_grpc_client = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_common = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_common_types = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_comms = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_comms_rpc_macros = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_core = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_mmr = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_p2p = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_shutdown = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_storage = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_wallet_grpc_client = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_script = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_wallet = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_console_wallet = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_service_framework = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }
tari_comms_dht = { git = "https://github.com/stringhandler/tari.git", branch = "st-add-burn-proof" }

