[package]
name = "tari_bor"
description = "The binary object representation (BOR) crate provides a binary encoding for template/engine data types"
version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
ciborium = { workspace = true }
ciborium-io = { workspace = true }
serde = { workspace = true, default-features = false, features = [
  "alloc",
  "derive",
] }

[dev-dependencies]
serde_json = { workspace = true }

[features]
default = ["std"]
std = ["ciborium/std", "serde/std"]
alloc = ["serde/alloc", "ciborium-io/alloc"]
json_encoding = []
