[package]
name = "tari_state_store_sqlite"
authors = ["The Tari Development Community"]
description = "The Tari DAN wallet daemon"
repository = "https://github.com/tari-project/tari-dan"
license = "BSD-3-Clause"
version = "0.50.0-pre.0"
edition = "2021"

[dependencies]
tari_dan_storage = { path = "../storage" }
tari_dan_common_types = { path = "../common_types" }
tari_transaction = { path = "../transaction" }
# TODO: needed for FixedHash
tari_common_types = { git = "https://github.com/tari-project/tari.git", branch = "development" }

tari_utilities = "0.4"

diesel = { version = "2", default-features = false, features = ["sqlite", "time"] }
diesel_migrations = "2"
log = "0.4"
hex = "0.4"
serde = "1.0"
serde_json = "1.0"
thiserror = "1.0"
time = "0.3"