[package]
name = "tari_engine_types"
description = "Shared Tari engine data types"
version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
tari_bor = { workspace = true, features = ["json_encoding"] }
tari_common_types = { workspace = true }
tari_crypto = { workspace = true, features = ["borsh"] }
tari_template_abi = { workspace = true, features = ["std"] }
tari_template_lib = { workspace = true }
tari_utilities = { workspace = true }

borsh = { workspace = true }
base64 = { workspace = true }
blake2 = { workspace = true }
rand = { workspace = true }
digest = { workspace = true }
hex = { workspace = true, features = ["serde"] }
lazy_static = { workspace = true }
serde = { workspace = true, default-features = true }
serde_json = { workspace = true }
thiserror = { workspace = true }


[features]
default = ["debugging"]
# Includes the ability to create free test coins
debugging = []
