[package]
name = "tari_engine_types"
version = "0.50.0-pre.0"
edition = "2021"
authors = ["The Tari Development Community"]
description = "Shared Tari engine data types"
repository = "https://github.com/tari-project/tari-dan"
license = "BSD-3-Clause"

[dependencies]
tari_bor = { path = "../tari_bor" }
tari_common_types = { git = "https://github.com/tari-project/tari.git", tag = "v0.50.0-pre.1" }
tari_crypto = { version="0.16", features = ["borsh"] }
tari_template_abi = { path = "../template_abi", features = ["std"] }
tari_template_lib = { path = "../template_lib" }
tari_utilities = "0.4.10"

borsh = "0.9.3"
ciborium = { git = "https://github.com/enarx/ciborium.git", rev = "ac38b3dddeadf81f93cc8e58689ea92dc46a8e56", default-features = false }
base64 = "0.21.0"
rand = "0.7"
digest = "0.9.0"
hex = { version = "0.4", features = ["serde"] }
lazy_static = "1.4.0"
serde = "1.0.126"
serde_json = "1.0"
serde_bytes = "0.11.9"
thiserror = "1"

[features]
default = ["debugging"]
# Includes the ability to create free test coins
debugging = []
