[package]
name = "integration_tests"
authors = ["The Tari Development Community"]
description = "The Tari validator node implementation"
repository = "https://github.com/tari-project/tari-dan"
license = "BSD-3-Clause"
version = "0.50.0-pre.0"
edition = "2021"

[dependencies]
tari_app_grpc = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_app_utilities = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_base_node = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018", package = "tari_base_node" }
tari_base_node_grpc_client = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_common = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_common_types = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_comms = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_comms_dht = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018", package = "tari_comms_dht" }
tari_comms_logging = { path = "../comms/tari_comms_logging" }
tari_console_wallet = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018", package = "tari_console_wallet" }
tari_core = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018", default-features = false, features = ["transactions"] }
tari_crypto = { version = "0.17" }
tari_indexer = { path = "../applications/tari_indexer" }
tari_validator_node_cli = { path = "../applications/tari_validator_node_cli" }
tari_validator_node_rpc = { path = "../dan_layer/validator_node_rpc" }
tari_dan_app_utilities = { path = "../applications/tari_dan_app_utilities" }
tari_dan_common_types = { path = "../dan_layer/common_types" }
tari_dan_core = { path = "../dan_layer/core" }
tari_dan_engine = { path = "../dan_layer/engine" }
tari_dan_storage = { path = "../dan_layer/storage" }
tari_dan_storage_sqlite = { path = "../dan_layer/storage_sqlite" }
tari_dan_wallet_daemon = { path = "../applications/tari_dan_wallet_daemon" }
tari_engine_types = { path = "../dan_layer/engine_types" }
tari_indexer_client = { path = "../clients/tari_indexer_client" }
tari_p2p = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_shutdown = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_storage = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_template_builtin = { path = "../dan_layer/template_builtin" }
tari_template_lib = { path = "../dan_layer/template_lib" }
tari_transaction = { path = "../dan_layer/transaction" }
tari_validator_node_client = { path = "../clients/validator_node_client" }
tari_validator_node = { path = "../applications/tari_validator_node" }
tari_wallet_daemon_client = { path = "../clients/wallet_daemon_client" }
tari_wallet_grpc_client = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_base_node_client = { path = "../clients/base_node_client" }
tari_epoch_manager = { path = "../dan_layer/epoch_manager", features = ["base_layer"] }
tari_transaction_manifest = { path = "../dan_layer/transaction_manifest" }
tari_dan_wallet_sdk = { path = "../dan_layer/wallet/sdk" }
tari_wallet = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018", package = "tari_wallet" }
#tari_consensus = { path = "../../dan_layer/consensus" }

anyhow = "1.0.53"
async-trait = "0.1.50"
axum = "0.6.0"
axum-jrpc = { version = "0.3.2", features = ["anyhow_error"] }
base64 = "0.21.0"
bytes = "1"
chrono = "0.4.22"
clap = { version = "3.2.5", features = ["env"] }
config = "0.13.0"
cucumber = { version = "0.18.0", features = ["default", "libtest", "output-junit"] }
futures = { version = "^0.3.1" }
httpmock = { git = "https://github.com/sdbondi/httpmock.git", branch = "remove-signal-handling" }
include_dir = "0.7.2"
indexmap = "1.9.1"
json5 = "0.2.2"
lazy_static = "1.4.0"
libsqlite3-sys = { version = "0.25", features = ["bundled"] }
lmdb-zero = "0.4.4"
log = { version = "0.4.8", features = ["std"] }
log4rs = { version = "1.1.1", features = ["rolling_file_appender", "compound_policy", "size_trigger", "fixed_window_roller"] }
mini-moka = "0.10.0"
prost = "0.9"
rand = "0.7"
reqwest = "0.11.11"
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
thiserror = "^1.0.20"
time = "0.3.15"
tokio = { version = "1.10", features = ["macros", "time", "sync", "rt-multi-thread"] }
tokio-stream = { version = "0.1.7", features = ["sync"] }
tonic = "0.6.2"
tower = "0.4"
tower-http = { version = "0.3.0", features = ["cors"] }
tower-layer = "0.3"

[build-dependencies]
tari_common = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018", package = "tari_common", features = ["build"] }

[[test]]
name = "cucumber" # this should be the same as the filename of your test target
harness = false # allows Cucumber to print output instead of libtest

[package.metadata.cargo-machete]
ignored = [
    # We want to bundle this lib
    "libsqlite3-sys",
    # Want to enable some log4rs features
    "log4rs",
]
