[package]
name = "tari_dan_common_types"
version = "0.50.0-pre.0"
edition = "2021"
license = "BSD-3-Clause"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tari_common_types = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_utilities = "0.4.10"
tari_core = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }
tari_crypto = { version = "0.17", features = ["borsh"] }
tari_engine_types = { path = "../engine_types" }
tari_bor = { path = "../tari_bor" }
tari_mmr = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018" }

anyhow = "1.0"
digest = "0.9"
newtype-ops = "0.1.4"
rand = "0.7"
prost = "0.9"
prost-types = "0.9"
serde = "1.0.126"
ruint = "1.8.0"

[build-dependencies]
tari_common = { git = "https://github.com/tari-project/tari.git", rev = "c490298783237c6efb5942fe733aa8c939415018", package = "tari_common", features = ["build"] }

[package.metadata.cargo-machete]
ignored = ["prost", "prost-types"] # false positive, used in OUT_DIR structs
