[package]
name = "tari_base_node_client"
version = "0.50.0-pre.0"
authors = ["The Tari Development Community"]
edition = "2021"
license = "BSD-3-Clause"

[dependencies]
minotari_app_grpc = { git = "https://github.com/tari-project/tari.git", branch = "development" }
minotari_node_grpc_client = { git = "https://github.com/tari-project/tari.git", branch = "development" }
tari_common_types = { git = "https://github.com/tari-project/tari.git", branch = "development" }
tari_core = { git = "https://github.com/tari-project/tari.git", branch = "development", default-features = false, features = ["transactions"] }
tari_utilities = "0.4"

tari_dan_common_types = { path = "../../dan_layer/common_types" }
tari_engine_types = { path = "../../dan_layer/engine_types" }

async-trait = "0.1"
log = "0.4.8"
serde = "1.0"
thiserror = "^1.0.20"
tonic = "0.6"
