[package]
name = "tari_validator_node"
authors = ["The Tari Development Community"]
description = "The Tari validator node implementation"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.35.1"
edition = "2018"

[dependencies]
tari_app_utilities = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_app_utilities" }
tari_app_grpc = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_app_grpc" }
tari_common = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_common" }
tari_comms = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_comms" }
tari_comms_rpc_macros = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_comms_rpc_macros" }
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", tag = "v0.15.6" }
tari_mmr = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_mmr" }
tari_p2p = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_p2p" }
tari_shutdown = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_shutdown" }
tari_storage = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_storage" }
tari_core = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_core", default-features = false, features = ["transactions"] }
tari_dan_core = { path = "../../dan_layer/core" }
tari_dan_storage = { path = "../../dan_layer/storage" }
tari_dan_storage_sqlite = { path = "../../dan_layer/storage_sqlite" }
tari_dan_common_types = { path = "../../dan_layer/common_types" }
tari_common_types = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_common_types" }
tari_dan_engine = { path = "../../dan_layer/engine" }
tari_template_lib = { path = "../../dan_layer/template_lib", features = ["json"] }
tari_base_node_grpc_client = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_base_node_grpc_client" }
tari_wallet_grpc_client = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_wallet_grpc_client" }
tari_engine_types = { path = "../../dan_layer/engine_types" }

anyhow = "1.0.53"
async-trait = "0.1.50"
axum = "0.5.15"
axum-jrpc = { version = "0.2.1", features = ["anyhow_error"] }
blake2 = "0.9.2"
borsh = { version = "0.9.3", default-features = false }
chrono = "0.4.22"
clap = { version = "3.2.5", features = ["env"] }
config = "0.13.0"
digest = "0.9.0"
futures = { version = "^0.3.1" }
json5 = "0.2.2"
log = { version = "0.4.8", features = ["std"] }
log4rs = { version = "1.1.1", features = ["rolling_file_appender", "compound_policy", "size_trigger", "fixed_window_roller"] }
lmdb-zero = "0.4.4"
libsqlite3-sys = { version = "0.22.2", features = ["bundled"] }
prost = "0.9"
rand = "0.7"
reqwest = "0.11.11"
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
thiserror = "^1.0.20"
tokio = { version = "1.10", features = ["macros", "time", "sync", "rt-multi-thread"] }
tokio-stream = { version = "0.1.7", features = ["sync"] }
tonic = "0.6.2"
tower = "0.4"
tower-layer = "0.3"
tower-http = { version = "0.3.0", features = ["cors"] }

[dev-dependencies]
tari_test_utils = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_test_utils" }
cucumber = { version = "0.13.0"} 
futures = "0.3"

[build-dependencies]
tari_common = { git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_common", features = ["build"] }

[[test]]
name = "example"
harness = false