[package]
name = "tari_validator_node"
authors = ["The Tari Development Community"]
description = "The Tari validator node implementation"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.35.1"
edition = "2018"

[dependencies]
tari_app_utilities = { git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_app_utilities" }
tari_app_grpc = { git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_app_grpc" }
tari_vn_grpc = { path = "../tari_vn_grpc" }
tari_common = { git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package ="tari_common" }
tari_comms = { git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package ="tari_comms" }

tari_comms_dht = { git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_comms_dht" }
tari_comms_rpc_macros = {git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_comms_rpc_macros"}
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", tag = "v0.15.4" }
tari_mmr = {git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_mmr"}
tari_p2p = {git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_p2p"}
tari_service_framework = {git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_service_framework"}
tari_shutdown = {git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_shutdown"}
tari_storage = {git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_storage"}
tari_core = {git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_core"}
tari_dan_core = { path = "../../dan_layer/core" }
tari_dan_storage_sqlite = { path = "../../dan_layer/storage_sqlite" }
tari_dan_common_types = { path = "../../dan_layer/common_types" }
tari_common_types = {git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_common_types"}
tari_dan_engine = { path = "../../dan_layer/engine"}
tari_template_lib = { path = "../../dan_layer/template_lib"}

anyhow = "1.0.53"
async-trait = "0.1.50"
blake2 = "0.9.2"
borsh = { version ="0.9.3", default-features = false }
clap = { version = "3.2.5", features = ["env"] }
config = "0.13.0"
digest = "0.9.0"
futures = { version = "^0.3.1" }
log = { version = "0.4.8", features = ["std"] }
lmdb-zero = "0.4.4"
prost = "0.9"
prost-types = "0.9"
rand = "0.8"
serde = "1.0.126"
thiserror = "^1.0.20"
tokio = { version = "1.10", features = ["macros", "time", "sync", "rt-multi-thread"] }
tokio-stream = { version = "0.1.7", features = ["sync"] }
tonic = "0.6.2"

# saving of patricia tree
patricia_tree = { version = "0.3.0", features = ["binary-format"] }
bytecodec = { version = "0.4.14", features = ["bincode_codec"] }
serde_json = "1.0.64"

[dev-dependencies]
tari_test_utils = {git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_test_utils"}

[build-dependencies]
tari_common = { git = "https://github.com/tari-project/tari.git", tag = "v0.35.0", package = "tari_common", features = ["build"] }
