.section {
  padding: 5px 10px;
  border-bottom: 1px solid black;
}

.caption {
  font-weight: bold;
}

.validator-node {
  display: grid;
}

.key {
  font-family: monospace;
  font-size: large;
  user-select: all;
  margin-top: auto;
  margin-bottom: auto;
}

.committee-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  justify-content: start;
  align-items: start;
  column-gap: 10px;
  padding: 10px;
}

.committee-range {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
}

.committee {
  display: grid;
  justify-content: start;
  justify-items: start;
}

.range {
  grid-column: 2;
}

.bold {
  font-weight: bold;
}

.label {
  padding: 5px;
}

.vns {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  align-items: start;
  column-gap: 10px;
  padding: 10px;
}

.members {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.button,
.disabled-button {
  display: inline-block;
  margin-right: auto;
  padding: 6px 14px;
  border: 1px solid black;
  border-radius: 6px;
  background-origin: border-box;
  box-shadow: 3px 3px 2px grey;
  user-select: none;
  width: 150px;
}

.disabled-button {
  color: grey;
  border: 1px solid grey;
}

.button:hover {
  box-shadow: 5px 5px 2px grey;
}
.button:active {
  box-shadow: 1px 1px 2px grey;
}

.error {
  padding: 10px;
  font-size: larger;
  color: red;
  font-weight: bold;
}

.me {
  font-weight: bold;
}

table {
  border-spacing: 10px 0;
}

td {
  text-align: center;
}

th {
  font-weight: bold;
  user-select: none;
}

.sort-indicator {
  position: absolute;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
}

.json {
  text-align: left;
}

.tooltip:hover {
  text-decoration: underline;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

ol li,
ul li {
  list-style-type: none;
}

ol,
ul {
  margin: 0px;
  padding-inline-start: 20px;
}

.string {
  color: green;
}

.other {
  color: red;
}
