[package]
name = "tari_dan_engine"
version = "0.35.1"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tari_bor = { path = "../tari_bor" }
tari_common_types = { git = "https://github.com/tari-project/tari.git", branch = "development", package = "tari_common_types" }
tari_crypto =  { git = "https://github.com/tari-project/tari-crypto.git", tag = "v0.16.6" }
tari_dan_common_types = { path = "../common_types" }
tari_engine_types = { path = "../engine_types" }
tari_mmr = { git = "https://github.com/tari-project/tari.git", branch = "development", package = "tari_mmr" }
tari_template_abi = { path = "../template_abi", features = ["std"] }
tari_template_lib = { path = "../template_lib", default-features = false, features = ["serde"] }
tari_utilities = { git = "https://github.com/tari-project/tari_utilities.git", tag = "v0.4.10" }
tari_transaction = { path = "../transaction" }

anyhow = "1.0.53"
cargo_toml = "0.11.5"
#d3ne = { git = "https://github.com/stringhandler/d3ne-rs.git", branch = "st-fixes2" }
log = { version = "0.4.8", features = ["std"] }
serde = "1.0.126"
serde_json = "1.0.81"
thiserror = "^1.0.20"
tempfile = "3.3.0"
wasmer = "2.3.0"
wasmer-middlewares = "2.3.0"

[dev-dependencies]
tari_template_test_tooling = { path = "../template_test_tooling" }
tari_transaction_manifest = { path = "../transaction_manifest" }
tari_transaction = { path = "../transaction" }
