[package]
name = "tari_template_lib"
version = "0.50.0-pre.0"
edition = "2021"

[dependencies]
tari_template_abi = { path = "../template_abi" }
tari_template_macros = { path = "../template_macros", optional = true }
tari_bor = { path = "../tari_bor" }

ciborium = { version = "0.2.0", default-features = false }
newtype-ops = "0.1.4"
serde = { version = "1.0.143", default-features = false, features = ["derive", "alloc"] }
serde-big-array = "0.5.1"
hex = { version = "0.4.3", default-features = false, features = ["serde"] }

[dev-dependencies]
serde_json = "1.0.73"

[features]
default = ["macro"]
macro = ["tari_template_macros"]
# TODO: Proper support for no_std
std = ["hex/std", "serde/std"]
