[package]
name = "tari_template_lib"
version = "0.35.1"
edition = "2021"

[dependencies]
tari_template_abi = { path = "../template_abi" }
tari_template_macros = { path = "../template_macros", optional = true }
tari_bor = { path = "../tari_bor" }

newtype-ops = "0.1.4"
serde = { version = "1.0.143", optional = true }
hex = { version = "0.4.3"}

[features]
default = ["macro"]
macro = ["tari_template_macros"]

[dev-dependencies]
serde_json = "1.0.73"
