[package]
name = "tari_dan_wallet_sdk"
description = "The Tari DAN wallet library"
version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
tari_common_types = { workspace = true }
tari_crypto = { workspace = true, features = ["borsh"] }
tari_engine_types = { workspace = true }
tari_dan_common_types = { workspace = true }
# Just used for QuorumCertificate
tari_dan_storage = { workspace = true }
tari_key_manager = { workspace = true }
tari_transaction = { workspace = true }
tari_template_lib = { workspace = true }
tari_utilities = { workspace = true }
tari_hash_domains = { git = "https://github.com/tari-project/tari_hash_domains.git" }

anyhow = { workspace = true }
async-trait = { workspace = true }
chacha20poly1305 = { workspace = true }
blake2 = { workspace = true }
chrono = { workspace = true }
digest = { workspace = true }
jsonwebtoken = { workspace = true }
lazy_static = { workspace = true }
log = { workspace = true }
rand = { workspace = true }
serde = { workspace = true, default-features = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
zeroize = { workspace = true }

[dev-dependencies]
tari_dan_wallet_storage_sqlite = { workspace = true }

tempfile = { workspace = true }
