[package]
name = "tari_indexer_lib"
version = "0.50.0-pre.0"
edition = "2021"
authors = ["The Tari Development Community"]
description = "Network scanning and indexing library"
repository = "https://github.com/tari-project/tari-dan"
license = "BSD-3-Clause"

[dependencies]
tari_dan_common_types = { path = "../common_types" }
tari_engine_types = { path = "../engine_types" }
tari_transaction = { path = "../transaction" }
tari_validator_node_rpc = { path = "../validator_node_rpc" }
tari_dan_core = { path = "../core" }
tari_template_lib = { path = "../template_lib" }

async-trait = "0.1"
ciborium = { version = "0.2.1", default-features = false }
log = "0.4"
serde = "1.0"
serde_json = "1.0.64"
thiserror = "1.0"

[dev-dependencies]
tari_common_types = { git = "https://github.com/tari-project/tari.git", tag = "v0.50.0-pre.1", package = "tari_common_types" }
tari_crypto = { version="0.16" }