[package]
name = "tari_dan_storage_sqlite"
version = "0.35.1"
edition = "2018"
license = "BSD-3-Clause"

[dependencies]
tari_dan_core = { path = "../core" }
tari_common = { git = "https://github.com/tari-project/tari.git", branch = "development", package = "tari_common" }
tari_common_types = { git = "https://github.com/tari-project/tari.git", branch = "development", package = "tari_common_types" }
tari_dan_common_types = { path = "../common_types" }
tari_utilities = { git = "https://github.com/tari-project/tari_utilities.git", tag = "v0.4.10" }
tari_dan_engine = { path = "../engine" }
tari_dan_storage = { path = "../storage" }
tari_engine_types = { path = "../engine_types" }

borsh = "0.9.3"
diesel = { version = "1.4.8", default-features = false, features = ["sqlite", "chrono"] }
diesel_migrations = "1.4.0"
thiserror = "1.0.30"
async-trait = "0.1.50"
chrono = "0.4.19"
tokio = { version = "1.10", features = ["macros", "time"] }
tokio-stream = { version = "0.1.7", features = ["sync"] }
log = { version = "0.4.8", features = ["std"] }
time = "0.3.15"
serde_json = "1.0.85"
serde = "1.0"
