[package]
name = "tari_dan_storage_sqlite"
version = "0.50.0-pre.0"
edition = "2021"
license = "BSD-3-Clause"

[dependencies]
tari_dan_core = { path = "../core" }
tari_common_types = { git = "https://github.com/tari-project/tari.git", tag = "v0.50.0-pre.2", package = "tari_common_types" }
tari_dan_common_types = { path = "../common_types" }
tari_utilities = "0.4.10"
tari_dan_engine = { path = "../engine" }
tari_dan_storage = { path = "../storage" }
tari_engine_types = { path = "../engine_types" }
tari_transaction = { path = "../transaction" }

diesel = { version = "2", default-features = false, features = ["sqlite", "chrono"] }
diesel_migrations = "2"
thiserror = "1.0.30"
chrono = "0.4.19"
log = { version = "0.4.8", features = ["std"] }
serde_json = "1.0.85"
serde = "1.0"
