[package]
name = "tari_dan_storage_lmdb"
version = "0.35.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tari_dan_engine = { path = "../engine" }
tari_storage = {  git = "https://github.com/tari-project/tari.git", branch = "feature-dan", package = "tari_storage" }

borsh = "0.9.3"
lmdb-zero = "0.4.4"


[dev-dependencies]
tempfile = "3.3.0"
