[package]
name = "tari_dan_storage_lmdb"
version = "0.50.0-pre.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tari_dan_engine = { path = "../engine" }
tari_dan_common_types = { path = "../common_types" }
tari_storage = {  git = "https://github.com/tari-project/tari.git", tag = "v0.49.0-pre.0", package = "tari_storage" }

borsh = "0.9.3"
lmdb-zero = "0.4.4"
hex = "0.4.3"


[dev-dependencies]
tempfile = "3.3.0"
